#Задание 2.4

В аптеку поступают партии лекарств. Их названия находятся в списке names, количество единиц товара находится в списке counts.

Например:

names = ['chlorhexidine', 'cyntomycin', 'afobazol'] counts = [15, 18, 7]

Напишите функцию create_medications(names, counts), которая создает Series medications, индексами которой являются названия лекарств names, а значениями - их количество в поставке counts.

А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара с именем name от общего количества товаров в поставке в процентах.

Примечание. Не забудьте ипортировать библиотеки.

Пример:

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

In [3]:
import pandas as pd

def create_medications(names, counts):
    medications = pd.Series(
    data = counts,
    index = names,
    name = 'medications'
    )
    return medications

def get_percent(medications, name):
    percent = medications[name] / sum(medications[:]) *100
    return percent

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

37.5

#ЗАДАНИЕ 3.5

Вы работаете аналитиком в компании ScienceYou. Ваша задача — проанализировать чистую прибыль.

Доходы (incomes), расходы (expenses) и годы (years), соответствующие им, предоставлены вам в виде списков. 

Например:

incomes = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
Создайте функцию create_companyDF(incomes, expenses, years), которая  возвращает DataFrame, составленный из входных данных со столбцами Incomes и Expenses и индексами, соответствующими годам рассматриваемого периода. Пример такого DataFrame представлен ниже.

Incomes	Expenses
2018	478	156
2019	512	130
2020	196	270
Также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанными в таблице df, за год year. Учтите, что если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть None.

In [4]:
import pandas as pd

def create_companyDF(income, expenses, years):
    companyDF = pd.DataFrame({
    'Income': income,
    'Expenses': expenses, 
    },
    index=years)
    return companyDF

def get_profit(df, year):
    if year not in df.index: return None
    return (df.loc[year,'Incomes'] - df.loc[year,'Expenses'])

incomes = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

df=create_companyDF(incomes, expenses, years)
print(df)

print(get_profit(df,2022))

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270
None

# 9. Закрепление знаний


gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [6]:
import pandas as pd

In [9]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [10]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [11]:
student_data.shape

(1000, 8)

In [18]:
student_data.loc[155, 'writing score']

88

In [20]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [21]:
student_data['math score'].mean()

66.089

In [22]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [25]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [32]:
student_data[student_data['math score'] == 0]['math score'].count()

1

In [33]:
display(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean(), student_data[student_data['lunch'] == 'standard']['math score'].mean())
# standard — платный, free/reduced — бесплатный

58.92112676056338

70.03410852713178

In [37]:
student_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [60]:
a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
b = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(a, b, sep='\n')
print(round(a-b),0)

62.0
67.82758620689656
-6 0